:root{
    --swiper-navigation-size: 1rem !important;
}
.swiper {
    width: 8rem;
    height: 6rem;
}
.swiper:nth-child(2){
    width: 8rem;
    height: 1.5rem;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.TxtImg {
    display: flex;
    flex-direction: column;
    color: #000;
}
.TxtImg .Text .heading {
    font-size: larger;
}
.TxtImg .Text .para {
    font-size: medium;
}
.TxtImg .button {
    border-radius: 2rem;
    background-color: orangered;
}
.TxtImg .num {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
